.container {
  background: linear-gradient(to bottom, #5d9fb8, #92bfd1); /* Adicionando o mesmo fundo da tela de login */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  position: relative;
}

.box {
  background-color: rgb(168, 207, 229);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 7px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
}

.title {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 3%;
}

.slogan {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 55%;
}

.rodape {
  font-size: 1em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 40%; /* Ajuste a margem superior conforme necessário */
  text-align: center; /* Centralize o texto */
}

.btn-primary {
  background-color: #5d9fb8;
  border-color: #5d9fb8;
}

.btn-primary:hover {
  background-color: #92bfd1;
  border-color: #92bfd1;
}

.btn-secondary {
  background-color: #b8d8e0;
  border-color: #b8d8e0;
  color: black;
}

.btn-secondary:hover {
  background-color: #d1e8ee;
  border-color: #d1e8ee;
}

@media (max-width: 768px) {
  .box {
    padding: 15px;
  }

  .title {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .box {
    padding: 10px;
  }

  .title {
    font-size: 1.2em;
  }
}
