.container {
    background: linear-gradient(to bottom, #5d9fb8, #92bfd1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    position: relative;
}

.box {
    background-color: rgb(168, 207, 229);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px; /* Reduzido o espaçamento inferior */
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem; /* Reduzido o espaçamento inferior */
}

.formLabel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    margin-bottom: 3px; /* Reduzido o espaçamento inferior */
    display: block;
}

.input {
    width: calc(100%); /* Reduzida a largura do campo */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1px; /* Reduzido o espaçamento superior */
}

.icon {
  margin-right: 5px;
  vertical-align: middle;
}

.btn-primary {
    background-color: #5d9fb8;
    border-color: #5d9fb8;
}

.btn-primary:hover {
    background-color: #92bfd1;
    border-color: #92bfd1;
}

.btn-secondary {
    background-color: #b8d8e0;
    border-color: #b8d8e0;
    color: black;
}

.btn-secondary:hover {
    background-color: #d1e8ee;
    border-color: #d1e8ee;
}

.rodape {
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 5%; /* Ajuste a margem superior conforme necessário */
    text-align: center;
}

@media (max-width: 768px) {
    .box {
        padding: 15px;
    }

    .title {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 10px;
    }

    .title {
        font-size: 1.2em;
    }

    .input {
        width: calc(100% - 12px); /* Ajuste menor de largura para telas menores */
    }
}
