.container {
    background: linear-gradient(to bottom, #5d9fb8, #92bfd1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .content {
    background-color: rgb(168, 207, 229);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
  }
  
  label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  .submitButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .content {
      padding: 15px;
    }
  
    .title {
      font-size: 1.2em;
    }
  
    .formGroup input {
      font-size: 0.8em;
    }
  }
  
  @media (max-width: 480px) {
    .content {
      padding: 10px;
    }
  
    .title {
      font-size: 1.1em;
    }
  
    .formGroup input {
      font-size: 0.8em;
    }
  }
  